.main-container{
  display: grid;
  grid-template-columns: 550px auto;
  height: 800px;

  @media screen {
    @media (max-width: 1050px) {
      grid-template-columns: 450px auto;
    }

    @media (max-width: 940px) {
      grid-template-columns: 400px auto;
    }

    @media (max-width: 775px) {
      grid-template-columns: 375px auto;
    }

    @media (max-width: 730px) {
      grid-template-columns: 350px auto;
    }

    @media (max-width: 707px) {
      grid-template-columns: 325px auto;
    }

    @media (max-width: 635px) {
      grid-template-columns: 300px auto;
    }

    @media (max-width: 605px) {
      grid-template-columns: 275px auto;
    }

    @media (max-width: 577px) {
      grid-template-columns: 250px auto;
    }

    @media (max-width: 550px) {
      display: flex;
      flex-direction: column;
      height: 1500px;
    }
  }

  .content-infos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;


    .container-infos{
      width: 70%;
    }

    // @media screen {
    //   @media (max-width: 500px){
    //     height: 90vh;
    //   }
    // }
  }
}

.secondary-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  margin-top: 36px;

  @media screen {
    @media (max-width: 870px) {
      display: flex;
      flex-direction: column;
      margin-top: 0px;
    }
  }

}
