.main-container{
  display: grid;
  grid-template-columns: 550px auto;

  .content-infos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .container-infos{
      width: 70%;
    }
  }
}

.secondary-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 36px;
}