.title-formacao{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.container-formacao {
  display: flex;
  gap: 30px;

  .container-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .line {
    width: 3px;
    height: 650px;
    background: #208B97;
  }

  .container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .box-formacao {
    max-width: 340px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #208B97;

    @media screen {
      @media (max-width: 1370px) {
        max-width: 270px;
      }

      @media (max-width: 1100px) {
        max-width: 250px;
        max-height: 275px;
      }

      @media (max-width: 950px) {
        max-width: 225px;
        max-height: 275px;
      }

      @media (max-width: 530px) {
        max-width: 200px;
        padding: 2px;
      }

      @media (max-width: 445px) {
        max-width: 170px;
      }

      @media (max-width: 385px) {
        max-width: 150px;
      }

      // @media (max-width: 345px) {
      //   max-width: 130px;
      // }
    }

    .info-box-formacao {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 16px;

      h3 {
        font-size: 20px;
      }

      span {
        font-size: 13px;
        margin-bottom: 24px;
        text-align: center;
        font-weight: 200;
      }

      button{
        border: none;
        border-radius: 6px;
        background: #208B97;
        color: var(--text-primary);
        padding: 8px 16px;
      }

      @media screen {
        @media (max-width: 1370px) {
          h3{
            font-size: 14px;
          }

          span{
            font-size: 11px;
          }

          button{
            padding: 6px 12px;
          }
        }

        @media (max-width: 530px) {
          h3{
            font-size: 12px;
          }

          span{
            font-size: 10px;
          }

          button{
            padding: 6px 12px;
            font-size: 11px;
          }
        }

        @media (max-width: 385px) {
          h3{
            font-size: 11px;
          }

          span{
            font-size: 9px;
          }

          button{
            padding: 6px 12px;
            font-size: 11px;
          }
        }

        @media (max-width: 385px) {
          h3{
            font-size: 10px;
          }

          span{
            font-size: 8px;
          }
        }
      }
    }
  }

  @media screen {
    @media (max-width: 540px) {
      gap: 15px;
    }
  }
}
