.quem-sou-eu{
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container-quem-sou-eu{
    width: 650px;
    height: 310px;
    border-radius: 10px;
    border: 3px solid #206B97;
    background: rgba(217, 217, 217, 0.00);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
      padding: 12px 52px;
      font-size: 16px;
      text-align: center;
    }
  }
}