.quem-sou-eu {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen {
    @media (max-width: 550px) {
      height: 300px;
    }
  }

  .container-quem-sou-eu {
    width: 650px;
    height: 310px;
    border-radius: 10px;
    border: 3px solid #206B97;
    background: rgba(217, 217, 217, 0.00);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      padding: 12px 52px;
      font-size: 16px;
      text-align: center;
    }

    @media screen {
      @media (max-width: 1250px) {
        width: 470px;
        height: 240px;

        p {
          font-size: 12px;
        }
      }

      @media (max-width: 885px) {
        width: 350px;

        p {
          padding: 10px;
          font-size: 11px;
        }
      }

      @media (max-width: 800px) {
        width: 275px;

        p {
          padding: 10px;
          font-size: 9px;
        }
      }

      @media (max-width: 680px) {
        width: 225px;

        p {
          padding: 10px;
          font-size: 9px;
        }
      }

      @media (max-width: 550px) {
        width: 350px;

        p {
          padding: 10px;
          font-size: 11px;
        }
      }

      @media (max-width: 370px) {
        width: 250px;

        p {
          padding: 10px;
          font-size: 9px;
        }
      }
    }
  }
}
