.container-experiencia {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  .box {
    max-width: 550px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #208B97;

    .info-box-experiencia{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0px 30px;

      h3{
        font-size: 20px;
      }

      span{
        font-size: 13px;
        margin-bottom: 24px;
        text-align: center;
        font-weight: 200;
      }

      @media screen {
        @media (max-width: 1370px) {
          h3{
            font-size: 18px;
          }

          span{
            font-size: 11px;
          }
        }

        @media (max-width: 1100px) {
          h3{
            font-size: 16px;
          }

          span{
            font-size: 10px;
          }
        }

        @media (max-width: 870px) {
          padding: 0px 10px;

          h3{
            font-size: 13px;
          }

          span{
            font-size: 11px;
          }
        }
      }
    }

    @media screen {
      @media (max-width: 1370px) {
        max-width: 450px;
      }

      @media (max-width: 1100px) {
        max-width: 350px;
        max-height: 200px;
      }

      @media (max-width: 950px) {
        max-width: 300px;
      }

      @media (max-width: 350px) {
        max-width: 250px;
        max-height: 290px;
      }
    }
  }
}
