.container-skills {
  text-align: center;
  display: flex;
  flex-direction: column;

  .container-boxs {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }

  .box-skills {
    width: 220px;
    height: 220px;
    border-radius: 11px;
    border: 1.5px dashed #4490DB;

    h4 {
      margin-top: 10px;
      font-size: 22px;
      font-weight: bold;
    }

    @media screen and (max-width: 1250px) {
      width: 200px;
      height: 200px;

      h4{
        font-size: 16px;
      }
    }

    .text-box {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      font-weight: 500;
      align-items: start;
      padding-left: 16px;
      justify-content: start;

      span {
        margin-top: 8px;
        display: flex;
        align-items: center;

        img {
          margin-right: 4px;
        }
      }

      @media screen and (max-width: 1250px) {
        font-size: 14px;
      }
    }
  }

  .container-others-skills-box {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    .other-skills-box {
      width: 350px;
      height: 70px;
      border-radius: 11px;
      border: 1.5px dashed #4490DB;

      h4 {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: bold;
      }

      .textbox-others{
        display: flex;
        align-items: center;
        justify-content: center;

        span{
          font-size: 14px;
          align-items: center;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }

        img {
          margin-right: 4px;
        }
      }
    }
  }
}